@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
  color: lightcoral;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 40px;
}

.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 20px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
}

.gallery-item {
  transition: transform 250ms cubic-bezier(0.19, 1, 0.22, 1),
    box-shadow 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.gallery-item:hover {
  transform: scale(1.05);
  border: 1px solid rgba(0, 0, 0, 0.297);
  box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
}

.simple-lightbox {
  background: rgba(46, 47, 66, 0.8);
}

.simple-lightbox .sl-navigation .sl-prev,
.simple-lightbox .sl-navigation .sl-next,
.simple-lightbox div.sl-counter,
.simple-lightbox button.sl-close {
  color: #fff;
}
